@model School.Domain.Models.Session

@{
    ViewData["Title"] = "CreateSession";
}

<h2></h2>


<form asp-controller="Home" asp-action="CreateSession">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br />

    <button type="submit">Click to create a session</button>
</form>