@model List<School.Domain.Models.Session>
@{
    ViewData["Title"] = "Index";
}
 
<h2>Index</h2>

@foreach(var s in Model)
{
    <div>@s.Id - @s.Name</div>

    @foreach(var st in s.Students)
    {
        <div>@st.Name  @st.LastName</div>

    }
    <hr />
}