@model Property

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


@if(User.Identity.IsAuthenticated)
{
    <p>Welcome back, @User.Identity.Name</p>
}

<table>
    <tr>
        <td>@Model.Address</td>
        <td>@Model.PropertyTypeId</td>
        <td>@Model.Image</td>
    </tr>
</table>