@model Property

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>@Model.Address</td>
        <td>@Model.PropertyTypeId</td>
        <td>@Model.Image</td>
    </tr>
</table>