@model StudentSessionViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-controller="student" asp-action="create">
    <select asp-for="Student.SessionId" asp-items="Model.AvailableSessions"></select>

    <br />
    <label asp-for="Student.Name"></label>
    <input asp-for="Student.Name" />
<span asp-validation-for="Student.Name"></span>
<br />

<label asp-for="Student.LastName"></label>
<input asp-for="Student.LastName" />

<button type="Submit"></button>
</form>