@model int
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a asp-controller="tenant" asp-action="index">Home</a></li>
            <li><a asp-controller="tenant" asp-action="bank" asp-route-id="@Model">Bank</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a asp-controller="tenant" asp-action="index">Home</a></li>
            <li><a asp-controller="tenant" asp-action="bank" asp-route-id="@Model">Bank</a></li>
        </ul>
    </div>
</nav>