@model TenantPropertyViewModel

<div>
    @Model.Tenant.Name
</div>
<div>
    @Model.Property.Address, @Model.Property.City
</div>
<div>
    <a asp-controller="tenant" asp-action="bank" asp-route-id="@Model.Tenant.Id">Bank Account</a>
</div>