@model List<Payment>

<table>
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Bank</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr>
            <td>@p.Posted</td>
            <td>@p.Amount</td>
            <td>@p.BankId</td>
        </tr>
    }
</table>
<style>
    th {
        color: cornflowerblue
    }
</style>