@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-controller="account" asp-action="login" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div>
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe"></label>
    </div>
    <button type="submit">Login</button>
</form>
<style>
    h2 {
        text-align: center;
        color: cornflowerblue
    }
</style>