@model StudentSessionViewModel

@{
    ViewData["Title"] = "CreateStudent";
}

<h2>Create</h2>
<form asp-controller="student" asp-action="createstudent">
    <select asp-for="Student.SessionId" asp-items="Model.AvailableSessions">

    </select>
    <br />

    <label asp-for="Student.Name"></label>

    <input asp-for="Student.Name" />
    <span asp-validation-for="Student.Name"></span>
    <br />

    <label asp-for="Student.LastName"></label>
    <input asp-for="Student.LastName" />

    

</form>

