@model List<School.Domain.Models.Student>

@{
    ViewData["Title"] = "CreateStudent";
}

<h2>Create</h2>

@*@foreach (var s in Model)
{
    <div>
        @s.Id - @s.Name @s.LastName
        <a href="/home/update/@s.Id">Update</a>
        <a href="/home/delete/@s.Id">Delete</a>

    </div>

    <hr />
}*@

<h2>Add a new Student Here!</h2>


@*<form asp-controller="Home" asp-action="CreateStudent">
    <label>Student Name:</label>
    <input type="text" name="Name" />
    <button type="submit">Click to create a student</button>
</form>*@