
@{
    ViewData["Title"] = "AccessDenied";
}

<h2>AccessDenied</h2>


<a asp-controller="Index" asp-action="Index" class="modal-action modal-close waves-effect waves-green btn-flat">Back to Home</a>

