@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<nav>
    <div class="nav-wrapper">
        <a asp-controller="Home" asp-action="Index" style="font-family: 'Ubuntu', sans-serif" class="brand-logo">EZRent</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a asp-controller="Account" asp-action="Login">Sign In</a></li>
            @*To login to an account with mock data*@
            @*<li><a asp-action="">Explore</a></li>*@
        </ul>
    </div>
</nav>

<h2>Create your EZRent Account</h2>

<div class="flex-container">
    <form asp-controller="Account" asp-action="Register" class="col s12 registerForm" style="clear:right" method="post">
        <div asp-validation-summary="All"></div>
        <div class="row">
            <div class="input-field col s10">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <label asp-for="Password"></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <label asp-for="ConfirmedPassword"></label>
                <input asp-for="ConfirmedPassword" />
                <span asp-validation-for="ConfirmedPassword"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <label asp-for="ApplicationUser.FirstName"></label>
                <input asp-for="ApplicationUser.FirstName" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10">
                <label asp-for="ApplicationUser.LastName"></label>
                <input asp-for="ApplicationUser.LastName" />
            </div>
        </div>
        <div class="input-field row">
            <div class="input-field col s10">
                <select asp-for="Role" asp-items="@Model.Roles"></select>
                <label asp-for="Role"></label>
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Register</button>
    </form>
    <div class="tour">
        <br />
        <h4>
        Hey there,<br /><br />If you're here to check out my work, no need to register!<br /><br />
        You are welcome to use a preset account to tour the website either as a <a asp-controller="account" asp-action="login">tenant</a> or <a asp-controller="account" asp-action="login">landlord</a> user!<br />
        </h4>
    </div>
</div>