@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>


<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>
        <span asp-validation-for="Password"></span>
    </div>    
    <div>
        <label asp-for="ConfirmedPassword"></label>
        <input asp-for="ConfirmedPassword"/>
        <span asp-validation-for="ConfirmedPassword"></span>
    </div>
    <div>
        <label asp-for="ApplicationUser.FirstName"></label>
        <input asp-for="ApplicationUser.FirstName"/>
    </div>
    <div>
        <label asp-for="ApplicationUser.LastName"></label>
        <input asp-for="ApplicationUser.LastName" />
    </div>
    <div class="input-field">
        <select asp-for="Role" asp-items="@Model.Roles"></select>
        <label asp-for="Role"></label>
    </div>
    <button class="waves-effect waves-light btn" type="submit">Register</button>
</form>