@model Property
@{
    ViewData["Title"] = "Index";
}

<nav>
    <div class="nav-wrapper">
        <a asp-controller="Home" asp-action="Index" class="brand-logo" style="font-family:'Ubuntu', sans-serif">EZRent</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a asp-controller="Account" asp-action="Login">Sign In</a></li>
            <li><a asp-controller="Account" asp-action="Register">Sign Up</a></li>
            @*To login to an account with mock data*@
            @*<li><a asp-action="">Explore</a></li>*@
        </ul>
        <ul id="nav-mobile" class="side-nav">
            <li><a asp-controller="Account" asp-action="Login">Sign In</a></li>
            <li><a asp-controller="Account" asp-action="Register">Sign Up</a></li>
            @*To login to an account with mock data*@
            @*<li><a asp-action="">Explore</a></li>*@
        </ul>
    </div>
</nav>
<ul id="navbar-desktop" class="dropdown-content">
    <li><a asp-controller="Account" asp-action="Login">Sign In</a></li>
    <li><a asp-controller="Account" asp-action="Register">Sign Up</a></li>
</ul>
<body>
    <div class="homeContent">
        <img id="pineapple" style="width: 100%" src="~/images/Index/390H.jpg" />

        <div class="top-left">
            <h2>Welcome to EZRent!</h2>
            <h3>Making it EZ for landlords <br />& renters to connect!</h3>
        </div>
        <button class="callToAction" asp-controller="Account" asp-action="Register">
            <p>Sign Up!</p>
        </button>
    </div>
</body>



@if (User.Identity.IsAuthenticated)
{
    <p>Welcome back, @User.Identity.Name</p>

}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">GAJ Solutions</h5>
                <p class="grey-text text-lighten-4">Site Coming Soon</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <a href="https://www.linkedin.com/in/maxfieldegaj/"><h5 class="white-text">Find out more!</h5></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright GAJ Solutions
        </div>
    </div>
</footer>


